html {
  font-family: "Montserrat", helvetica;
  font-size: 16px;
  color: #515151;
}

header {
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 4px solid #ff9411;
}

#bold {
  font-weight: 700;
  margin-right: 0.2rem;
}

.container {
  width: 1024px;
  display: flex;
  align-items: center;
  padding: 0px 1.5rem;
}

.nav {
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 0.5rem;
}

.logo span {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navlinks span {
  margin-right: 1rem;
  font-size: .9rem;
}

.navmenuicon {
  display: none;
  margin-right: 1rem;
}

.menuicon {
  width: 25px;
  height: 3px;
  background-color: #999999;
  margin: 4px 0;
}

.navmobile {
  display: none;
}

a {
  color: #999999;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}

a:hover {
  color: #848484;
}

.jumbotron {
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4rem
}

.jumbotron img {
  width: 60%;
  height: auto;
  margin-right: 2.5rem;
}

.jumbotron .image {
  display: none;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  height: 11.25rem;
  width: 100%;
}

.jumbotron .textbox {
  padding-right: 5rem;
}

.jumbotron .container {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

h1 {
  font-weight: 600;
  letter-spacing: 0.7px;
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-weight: 600;
  letter-spacing: 0.7px;
  font-size: 1.5rem;
  line-height: 2rem;
}

.jumbotron p {
  font-size: 1rem;
  font-weight: 400;
  padding: 1.2rem 0;
  line-height: 1.5rem;
}

.btn {
  background-color: #515151;
  text-align: center;
  color: white;
  padding: .5rem;
  transition: background-color 150ms ease-in-out;
}

.btn:hover {
  background-color: #ff9411;
}

.info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.info .container {
  display: flex;
  align-items: flex-start;
}

.maininfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.mainimage {
  margin-top: 2rem;
}

.maininfo img {
  width: 100%;
  height: auto;
}

.maininfo .textbox {
  padding: 1.2rem 0;
}

.sideinfo {
  display: flex;
  flex-direction: column;
  width: 37%;
  height: 100%;
  border-left: 0.5px solid #d1d1d1;
  border-right: 0.5px solid #d1d1d1;
  margin-left: 1.5rem;
}

.sidebox {
  display: flex;
  padding: 1rem 1rem;
  border-bottom: 0.5px solid #d1d1d1;
  transition: background-color 150ms ease-in-out;
}

.sidebox:hover {
  background-color: #ffefdd;
}

#topimg {
  margin-top: 1rem;
}

.sideimage {
  width: 35%;
  height: 35%;
  margin-right: 1rem;
}

.sidemobile {
  display: none;
}

.sidebox img {
  width: 100%;
}

.sidebox .textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #999999;
  padding: .7rem 0;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

h4 {
  font-size: 0.7rem;
  font-weight: 400;
}

.sidebox a {
  font-size: 0.7rem;
  font-weight: 400;
  color: #ff9411;
}

.sidebox a:hover {
  text-decoration: underline;
}

.learning {
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.learning h2 {
  padding: 2rem 0;
}

.learning .container {
  display: flex;
  flex-direction: column;
}

.learninginfomobile {
  display: none;
}

.learninginfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
}

.learningbox {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: auto;
  margin: 0 1rem;
  margin-bottom: 2rem;

}

.learningbox img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.learningbox .textbox {
  background-color: white;
  padding: 1rem 2rem 1rem 1rem;
  height: 60%;
}

.exhibit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.exhibit .container {
  display: flex;
  align-items: flex-start;
}

.exhibit img {
  display: flex;
  align-items: flex-start;
}

.ex {
  border: none;
}

.exhibit {
  padding: 2rem 0;
}

.video {

}

.maininfo video {
  width: 100%;
  height: auto;
}

footer {
  background-color: #ff9411;
  height: 4rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.footlinks {
  display: flex;
  flex-direction: row;
}

.copyright {

}

footer span {
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
}

footer a {
  font-size: 0.8rem;
  color: white;
  padding-left: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .navmenuicon {
    display: block;
  }

  .navlinks {
    display: none;
  }

  .jumbotron {
    justify-content: flex-start;
  }

  h1 {
    font-size: 1.5rem;
  }

  .jumbotron img {
    display: none;
    justify-content: flex-start;
  }

  .jumbotron p {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }

  .jumbotron .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    justify-content: flex-start;
  }

  .jumbotron .image {
    display: block;
  }

  .jumbotron .textbox {
    margin: 1.75rem;
  }

  .btn {
    width: 20rem;
  }

  .info .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    justify-content: flex-start;
  }

  .mainimage {
    margin: 0;
    height: 11.25rem;
    overflow: hidden;
  }

  .maininfo .textbox {
    padding: 1.75rem;
  }

  .maininfo {
    width: 100%;
    height: auto;
  }

  .sideinfo {
    width: 100%;
    height: auto;
    margin: 0;
}

  .sidebox {
    display: flex;
    flex-direction: column;
    padding: 1.75rem;
    border-bottom: 0;
  }

  .sidebox .textbox {
    padding-top: 1.75rem;
  }


  #topimg {
    margin: 0;
  }

  .sideimage {
    display: none;
  }

  .sidemobile {
    display: block;
    width: 100%;

  }

  .learninginfo {
    flex-direction: column;
    justify-content: center;
    width: 85%;
  }

  .learningbox {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 2rem;

  }

  .exhibit .sideinfo {
    flex-direction: row;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 4rem;
    background-color: white;
    position: relative;
    border-bottom: 4px solid #ff9411;
  }

  .jumbotron {
    padding-top: 0;
  }

  .nav {
    display: none;

  }

  .navmobile {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .learning {
    background-color: white;
    border-top: 0.5px solid #d1d1d1;
  }

  #infomobile {
    display: none;
  }

  #exhibitmobile {
    display: none;
  }

  .exhibit {
    border-top: 0.5px solid #d1d1d1;
  }

  .learning .container {
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
  }

  .learninginfomobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .learninginfo {
    display: none;
  }

  .learninginfomobile span {
    margin-bottom: 0.5rem;
    background-color: #d1d1d1;
    text-align: center;
    padding: 1rem;
  }

  .learninginfomobile a {
    color: #515151;
  }

  .learninginfomobile span:hover {
    background-color: #ff9411;
  }

  .footlinks {
    display: none;
  }

  footer {
    padding-top: 1rem;
  }
}
